body {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
}

h1 {
  color: rebeccapurple;
}

.appBox {
  display: block;
  margin: 30px auto;
  border: 2px solid rebeccapurple;
  box-sizing: 400px;
  border-radius: 5px;
  background-image: url("img/nasa-space-pic.jpg");
}
