body {
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: rebeccapurple;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
}

strong {
  color: rebeccapurple;
  font-weight: 600;
  font-size: 32px;
  line-height: 34px;
}

ul {
  margin: 0;
  padding: 0;
}

li,
p {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

.app-box-wrapper {
  margin: 30px auto;
  max-width: 600px;
  background-color: #fefcf3;
}

.app-box {
  padding: 20px;
  border: 1px solid rebeccapurple;
  border-radius: 5px;
}

.flexbox .temp-units {
  position: relative;
  font-size: 16px;
  top: -13px;
}

.center-icon {
  text-align: center;
}

.emoji {
  font-size: 45px;
}

.open-source {
  text-align: center;
}

.flexbox .active {
  color: black;
  cursor: default;
}

.flexbox .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-weight: 16px;
  color: #dba39a;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.weather-forecast-temp-min {
  color: #f0dbdb;
}
#description {
  text-transform: capitalize;
}
